#img-bg{
    background-image: url('https://i.pinimg.com/originals/81/52/cd/8152cd52a4e4af5c1dca6193a0ef7d5d.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aling{
    align-items: center;
    justify-content: center;
    text-align: center;
}